body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; 
}

.App {
  display: flex;
  height: 100vh;
}

.container-fluid {
  padding-left: 250px; 
  overflow-y: auto;
  height: 100vh; 
}

.sidebar {
  width: 250px;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000; 
  color: #919191;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}


.main-content {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-content {
    padding-left: 0;
  }

  .player {
    left: 0;
  }
}

